body {
  background: #141414;
  color: #ffffff
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.poster {
  max-width: 300px;
}

.img-container {
  position: relative;
  transform: scale(1.0);
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.35s ease-in-out;
}

.image-container:hover .overlay{
  opacity: 1;
  text-align: center;
  transition: transform 0.35s ease-in-out
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.2s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}